@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: var(--body-colour);
    transition: var(--tran-04);
}

body.dark{
    --body-colour: #18191A;
    --sidebar-colour: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color:#fff;
    --text-color:#ccc;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

/* this css is for the side bar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-colour);
    transition: var(--tran-05);
    z-index: 100;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar.close{
    width: 88px
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px; 
}

.sidebar li .icon,
.sidebar li .text {
    font-size: 20px;
    color: var(--text-color);
    transition: var(--tran-02);  
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar.close li a {
    width: 88px; 
    overflow: hidden; 
}

.sidebar header {
    position: relative;
}

.sidebar .imagetext img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .imagetext{
    display: flex;
    align-items: center;
}

header .imagetext .header-text{
    display: flex;
    flex-direction: column;

}

.header-text .name{
    font-weight: 600;
}

.header-text .does{
    margin-top: -2px;
    font-size: 10px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-colour);
    font-size: 22px;
    transition: var(--tran-03);

}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-colour);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;

}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer; 
    border-radius: 6px;
    background: var(--primary-color-light);
}


.toggle-switch .switch{
    position: relative;
    border-radius: 25px;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-colour);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 25px;
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.home{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-colour);
    transition: var(--tran-05);
}

.sidebar.close ~ .home{
    position: relative;
    left: 88px;
    height: 100vh;
    width: calc(100% - 88px);
}

:root{
    /* ----- colours -------*/
    --body-colour: #E4E9F7;
    --sidebar-colour: #fff;
    --primary-color: #0496FF;
    --primary-color-light: #F6F5FF;
    --toggle-color:#0496FF;
    --text-color:#707070;

    /*== Transition ==*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.4s ease;
}


/* this css is for the index.html or dashboard */

.sidebar.close ~ .home .graph-one {
    height: 40vh;
    margin-top: 10px;
    width: calc(100% - 35px);
    background: var(--sidebar-colour);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
    margin-left: 20px;
    transition: var(--tran-05);
}

.home .graph-one {
    height: 40vh;
    margin-top: 10px;
    width: calc(100% - 35px);
    background: var(--sidebar-colour);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
    margin-left: 20px;
    transition: var(--tran-05);
}

.home .chart-header {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
    text-align: center;
}

.home .graph-one .main-content {
    height: 35vh;
    transition: var(--tran-05);
    display: flex;
    position: relative;
    column-gap: 25px;
}

.home .graph-one .dough-container {
    margin-left: 20px;
    background-position-x: relative;
    padding-right: 10px;
    width: 30vw;
}

.home .graph-one .verticalLine {
    border-left: thick solid var(--body-colour);
    opacity: 1;
    border-radius: 6px;
    margin-top: -5px;
    transition: var(--tran-05);
  }

.home .graph-one .infomation {
    padding: 10px;
    position: relative;
    width: 250px;
}


.sidebar.close ~ .home .graph-two {
    height: 55vh;
    margin-top: 20px;
    column-gap: 25px;
    width: calc(100% - 35px);
    background: var(--sidebar-colour);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
    margin-left: 20px;
    transition: var(--tran-05);
}

.home .graph-two {
    height: 55vh;
    margin-top: 20px;
    column-gap: 25px;
    width: calc(100% - 35px);
    background: var(--sidebar-colour);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
    margin-left: 20px;
    transition: var(--tran-05);
    margin-bottom: 0px;
}

.home .graph-two .container-two {
    display: flex;
    position: relative;
    height: 50vh;
}

.container-two canvas {
    width: 90vw;
}

.graph-one .inline-list {
    list-style: none;
    padding: 0;
    margin: 0;
}



/* this css is for the jobs.html */

.home .list-job ul{
    list-style: none;
}

.home .job-list:hover {
    transform: scale(1.025);
}

.sidebar.close ~ .home .job-list {
    height: 50px;
    margin-top: 10px;
    width: calc(100% - 35px);
    background: var(--sidebar-colour);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
    margin-left: 20px;
    transition: var(--tran-05);
    display: flex;
}

.home .job-list{
    display: flex;
    height: 50px;
    margin-top: 10px;
    width: calc(100% - 35px);
    background: var(--sidebar-colour);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
    margin-left: 20px;
    transition: var(--tran-05);
}

.job-list .profile-picture {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    transition: var(--tran-05);
}

.job-list .job-details .client-name {
    font-weight: 700;
    font-size: 15px;
    color: var(--text-color);
    transition: var(--tran-05);
}

.job-list .job-details .address {
    font-weight: 500;
    font-size: 15px;
    color: var(--text-color);
    transition: var(--tran-05);
}

.sidebar.close ~ .home .job-adder {
    height: 50px;
    margin-top: 10px;
    width: calc(100% - 35px);
    background: var(--primary-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
    margin-left: 20px;
    transition: var(--tran-05);
    display: flex;
}

.home .job-adder {
    display: flex;
    height: 50px;
    margin-top: 10px;
    width: calc(100% - 35px);
    background: var(--primary-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
    margin-left: 20px;
    transition: var(--tran-05);
}

.home .job-adder:hover {
    background: var(--sidebar-colour);
    transform: scale(1.025);
}

.sidebar.close ~ .home .job-adder:hover {
    background: var(--sidebar-colour);
    transform: scale(1.025);
}

.home .job-adder .container {
    background: red;
    border-radius: 24px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home .job-adder .container .text {
    font-weight: 700;
    font-size: 25px;
    color: var(--text-color);
    transition: var(--tran-05);
    text-align: center;
    text-decoration: none;
}

.home .job-adder .container i:hover {
    border-radius: 6px;
    background: var(--primary-color);
}

/* this css is for the map.html */
#map { 
    height: 80vh;  
    width: 90vw;
    display: block;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
}



