{% extends "theminimanagement/layout.html" %}

{% block title %}
    theminimanagement
{% endblock %}

{% block body %}
    <div class="graph-one">
        <div class="chart-header">Overall Progress</div>
        <div class="main-content">
            <div class="dough-container">
                <canvas id="chart-one"></canvas>
            </div>
            <div class="verticalLine"></div>
            <div class="infomation">
                <ul class="inline-list">
                    {% for label, value in combined_data %}
                    <li>{{ label }}: <span class="percent">{{ value|floatformat:2 }}%</span></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="graph-two">
        <div class="chart-header">Individual Job Progress</div>
        <div class="container-two">
            <canvas id="chart-two-se"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
// this is a template from chart js which i made it that it uses data fron a json file
const ctx = document.getElementById('chart-one');

const chartData = JSON.parse('{{ chart_data|escapejs }}');

new Chart(ctx, {
  type: 'doughnut',
  data: chartData,
  options: {
    plugins: {
      legend: {
        position: 'right',
        align: 'center',
        labels: {
          boxWidth: 20,
          padding: 20
        }
      }
    },
    responsive: true,
    maintainAspectRatio: false
  }
});

// this is a template from chart js which i made it that it uses data fron a json file

const sss = document.getElementById('chart-two-se').getContext('2d');

function getGradientColor(ctx, chartArea, data) {
    const { left, right, top, bottom } = chartArea;
    const gradient = ctx.createLinearGradient(left, 0, right, 0);
    gradient.addColorStop(0, 'rgb(242,92,84)');
    gradient.addColorStop(0.5, 'rgb(247,206,91)');
    gradient.addColorStop(1, 'rgb(76,149,108)');

    return gradient;
}

new Chart(sss, {
    type: 'bar',
    data: {
        labels: ['Arrowtown Golf Course', 'Hills Golf Course', 'Franton Golf Course'],
        datasets: [{
            label: 'Job Completion (%)',
            data: [30, 60, 90],
            backgroundColor: function(context) {
                const chart = context.chart;
                const { ctx, chartArea } = chart;

                if (!chartArea) {
                    return;
                }

                return getGradientColor(ctx, chartArea, context.raw);
            },
        }]
    },
    options: {
        indexAxis: 'y',
        scales: {
            x: {
                beginAtZero: true,
                max: 100,
                ticks: {
                    callback: function(value) {
                        return value + "%";
                    }
                }
            }
        },
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                display: false
            }
        }
    }
});



    </script>
{% endblock %}  