{% extends "theminimanagement/layout.html" %}

{% block title %}
    Jobs
{% endblock %}

{% block body %}
{% for job in jobs %}
    <div class="job-list">
        <div class="profile-picture"></div>
        <div class="job-details">
            <div class="client-name">{{ job.labels }}</div>
            <div class="address">{{ job.address }}</div>
        </div>
    </div>
{% endfor %}
<div class="job-adder">
    <div class="container">
        <a href="{% url 'new_job' %}">
            <i class='bx bx-plus-circle icon'></i>
        </a>
    </div>
</div>
{% endblock %}  