{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'cssfolder/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
     
</head>
<body>
    <header id="navbar">
        <a href="{% url 'index' %}"><img class="logo" src="{% static 'cssfolder/LOGO of MINI MANAGEMENT dit.png'%}" alt="logo of mininmanagement"></a>
         <nav>
            <ul class="navlinks">
                <li><a href="{% url 'index' %}" alt="Option 1: dashboard">DashBoard</a></li>
                <li><a href="{% url 'jobs' %}" alt="Option 2: list of Jobs">Jobs</a></li>
                <li><a href="{% url 'map' %}" alt="Option 3: Map">Map</a></li>
            </ul>
         </nav>
         <a href="{% url 'new_job' %}" class="cta" alt="option 4 : add new job"><button>New Job</button></a>
    </header>
    <div class="main"></div>
    {% block body %}
    {% endblock %}
</body>
</html>