{% extends "theminimanagement/layout.html" %}

{% load static %}

{% block title %}
    Jobs
{% endblock %}

{% block body %}

<div class="add-job-one">
    <div class="add-header">Add Job</div>
    <div class="main-content">
        <form id="job-form" class="form-job" method="POST" action="{% url 'new_job' %}">
            {% csrf_token %}
            <div class="top">
                <label class="box-text" for="name">Job Name:</label>
                <input  placeholder="Tim's house" type="text" id="name" name="name" required>
                <label class="box-text" for="address">Address:</label>
                <input placeholder="2 Castle street" type="text" id="address" name="address" required>
            </div>
            <div class="middle">
                <label class="box-text" for="town"> Town / City:</label>
                <input placeholder="Queenstown" type="text" id="town" name="town" required>
                <label class="box-text" for="post-code">Post Code:</label>
                <input placeholder="1234" type="text" id="post-code" name="post-code" required>
            </div>
            <div class="bottom"> 
                <button type="submit">Submit</button>
            </div>
        </form> 
    </div>
</div>

{% endblock %}

